body {
    margin: 0px;
}

.header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.links {
    display: flex;
    gap: 10px;

}
ul {
    list-style: none;
}

.featured-article {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-around;
}

h2 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

p {
    padding: 16px;
}

.writing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image {
    margin: 100px;
}

.button {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 5px;
}

button:hover {
    background-color: rgb(75, 146, 173);
    padding: 8px;
    
}